<h1>Admins</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin.each do |a| %>
      <tr>
        <td><%= image_tag a.avatar.url(:mini)   %></td>
        <td><%= a.email %></td>
        <td><%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_admin_path(a), :class => 'btn btn-mini' %>
        </td>
        <td><%= link_to '<i class="icon-remove icon-white"></i>'.html_safe, admin_path(a), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn  btn-danger btn-mini' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin <i class="icon-plus icon-white"></i>'.html_safe, new_admin_path, :class => 'btn  btn-success'  %>