<% @items.each do |product| %>
        <div class="product" productid="<%= product.id %>" largeurl="<%= product.photo.url(:large) %>">
            <div class="sale_corner">
                <div class='save_tag'>Save </br> 30%</div>
            </div>
            <div class="product_photo">
                <%= image_tag product.photo.url(:medium) %>
                <div class="view">View</div>
            </div>
            <div class="product_description">
                <div class="name"><%= product.name %></div>
                <div class="time">Added <%= time_ago_in_words(product.created_at) %></div>
                <div class="price">Price: $<%= number_to_currency(product.price) %></div>
            </div>        
        </div>
<% end %>