<div class="container">
  
  <div class="span12">

<!--
<div id="carousel_container">
    <div class="pull-right">
        <button class="btn">See all products</button>
    </div>   

    <div id="carousel">
        <% @products.each do |product| %>
        <div class="product">
            <div class="sale_corner">
                <div class='save_tag'>Save </br> 30%</div>
            </div>
            <div class="product_photo">
                <%= image_tag product.photo.url(:medium) %>
            </div>
            <div class="product_description">
                holas
            </div>        
        </div>
        <% end %>
    </div>

    <a href="#" class="carousel_prev" id="carousel_prev" ></a> 
    <a href="#" class="carousel_next" id="carousel_next" ></a>     
</div>

-->

<div class="accordion" id="accordion2">

<% @categories.each do |category| %> 


    <div class="accordion-group">

    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse<%= category.id %>">
        <strong><%= category.name %></strong>
      </a>
    </div>

    <div id="collapse<%= category.id %>" class="accordion-body collapse">
      <div class="accordion-inner">
        
        <div id="carousel_container">
            <div class="pull-right">
                <button class="btn">See all products</button>
            </div>   

            <div class="carousel">
                <% @items = Product.where("category_id = #{category.id}") %>
                <%= render :partial => "products", :collection => @items %>
            </div>

            <a href="#" class="carousel_prev" id="carousel_prev"></a> 
            <a href="#" class="carousel_next" id="carousel_next"></a>
        </div>
      
      </div>
    </div>

  </div>

<% end %> 


</div>


  </div>
</div>

 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <img id="imageshowlarge" src="" />
</div>


