<h1>Users</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Email</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |u| %>
      <tr>
        <td><%= image_tag u.avatar.url(:mini)   %></td>
        <td><%= u.email %></td>
        <td><%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_user_path(u), :class => 'btn btn-mini' %>
        </td>
        <td><%= link_to '<i class="icon-remove icon-white"></i>'.html_safe, u, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn  btn-danger btn-mini' %></td>


      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User <i class="icon-plus icon-white"></i>'.html_safe, new_user_path, :class => 'btn  btn-success'  %>