<h1>Categories</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Category</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %> 
      <tr>
        <td><strong><%= category.name %></strong>
          <% unless category.children.empty? %>
           <table class="table table-striped">
             <% category.children.each do |subcategory| %>
                <tr> 
                  <td><%= subcategory.name %></td>

                  <td><%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_category_path(subcategory), :class => 'btn btn-mini' %></td>
                  <td><%= link_to '<i class="icon-remove icon-white"></i>'.html_safe, subcategory, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn  btn-danger btn-mini' %></td>

                </tr>
             <% end %>
           </table>
          <% end %>

        </td>
        <td><%= link_to '<i class="icon-pencil"></i>'.html_safe, edit_category_path(category), :class => 'btn btn-mini' %></td>
        <td><%= link_to 'Add subcategory', new_category_path(:parent_id => category), :class => 'btn btn-mini' %></td>
        <td><%= link_to '<i class="icon-remove icon-white"></i>'.html_safe, category, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn  btn-danger btn-mini' %></td>
      </tr>
    <% end %> 
  </tbody>
</table>

<br>

  
<%= link_to 'New Category <i class="icon-plus icon-white"></i>'.html_safe, new_category_path, :class => 'btn  btn-success'  %>