<%= render '/layouts/head' %>

    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Admin Layout</a>
          <div class="container nav-collapse">
            <% if admin_signed_in? %>
            <ul class="nav">
              <li><%= link_to "Products", products_path  %></li>
              <li><%= link_to "Categories", categories_path  %></li>
              <li><%= link_to "Users", users_path  %></li>
              <li><%= link_to "Admins", admins_path  %></li>
            </ul>
              
              <p class="navbar-text pull-right">
              Login as  
              <%= link_to current_admin.email, edit_admin_registration_path(current_admin) %>&nbsp;&nbsp;
              <%= link_to '<i class="icon-pencil icon-white"></i>'.html_safe, edit_admin_registration_path(current_admin) %>&nbsp;&nbsp;
              
              &nbsp; &nbsp;
              <%= link_to "Logout", destroy_admin_session_path, :method => :delete %>
              </p>
              <% end %>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<br/><br/><br/>
    <div class="container">
        <div class="row">
          <div class="span12">
            <%= bootstrap_flash %>
            <%= yield %>
          </div>

<%= render '/layouts/foter' %>
