<%= render '/layouts/head' %>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to "RealRoR", root_path, :class => "brand" %>
          <div class="container nav-collapse">
            <ul class="nav">
              <% @categories.each do |category| %> 
              <li>
                <%= link_to "#{category.name}".html_safe, category, :class => "dropdown-toggle", :data => {:toggle=>"dropdown"} %> 
                

              </li>
              <% end %>
            </ul>
            <p class="navbar-text pull-right">
            <% if user_signed_in? %>
              
              <%= t 'views.home.hello' %>&nbsp;&nbsp;&nbsp;
  
              <%= link_to current_user.email, edit_user_registration_path(current_user) %>&nbsp;&nbsp;
              <%= link_to '<i class="icon-pencil icon-white"></i>'.html_safe, edit_user_registration_path(current_user) %>&nbsp;&nbsp;
              
              &nbsp; &nbsp;
              <%= link_to t('views.home.logout'), destroy_user_session_path, :method => :delete %>
              
              <% else %>
                <%= link_to t('views.home.signin'), user_session_path %>  
              <% end %>

              </p>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<br/><br/><br/><br/>
    <div class="container">
        <div class="row">
          <div class="span12">
            <%= bootstrap_flash %>
            <p class="notice"><%= notice %> <%= alert %></p>
            <%= yield %>
          </div>
        </div><!--/row-->
<%= render '/layouts/foter' %>        